__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.nox/

build/
dist/
sdist/
wheelhouse/
*.egg-info/
pip-wheel-metadata/

.venv/
venv/
env/
ENV/

.mypy_cache/
.ruff_cache/
.pyright/

.ipynb_checkpoints/
.vscode/
.idea/

.DS_Store
Thumbs.db
